<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Proposal.css">
    <link rel="stylesheet" href="../CSS/media.css">
    <title>Project Media - Lucia</title>
</head>
<body>
    <div class="tabs">
        <input type="radio" name="tabs" id="tabone">
        <label for="tabone" onclick="window.location.href='index.html'">Bill of Material</label>

        <input type="radio" name="tabs" id="tabtwo" checked="checked">
        <label for="tabtwo">Media</label>
        <div class="tab-content">
            <h1>Project Media</h1>
            <div class="media-grid">
                <img src="../Media/1.png" alt="Media 1" class="clickable-image">
                <img src="../Media/2.png" alt="Media 2" class="clickable-image">
                <img src="../Media/3.png" alt="Media 3" class="clickable-image">
                <img src="../Media/4.png" alt="Media 4" class="clickable-image">
                <img src="../Media/5.png" alt="Media 5" class="clickable-image">
                <img src="../Media/6.png" alt="Media 6" class="clickable-image">
                <img src="../Media/7.1.png" alt="Media 7" class="clickable-image">
                <img src="../Media/7.png" alt="Media 8" class="clickable-image">
                <img src="../Media/8.png" alt="Media 9" class="clickable-image">
            </div>
        </div>

        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree" onclick="window.location.href='duration.html'">Duration</label>
    </div>

    <button id="btn-back-to-top" title="Kembali ke Atas">↑</button>

    <div id="image-modal" class="modal">
        <span class="close-modal">&times;</span>
        <img class="modal-content" id="img-fullscreen">
        <div id="modal-caption"></div>
    </div>

    <script src="../JS/script.js"></script>
</body>
</html>
