<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Proposal.css">
    <title>Lucia: Crimson Weave - BOM</title>
</head>
<body>
    <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone">Bill of Material</label>
        
        <div class="tab-content">
            <h1>Lucia: Crimson Weave | NightBlaze</h1>
            <a href="https://grayravens.com/wiki/Lucia:_Crimson_Weave" target="_blank">Crimson Weave Wiki</a>

            <div class="tab-data">
                <table border="1">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Item</th>
                            <th>Type</th>
                            <th>Color</th>
                            <th>Quantity</th>
                            <th>Cost/PCS</th>
                            <th>Total Cost</th>
                            <th>Ongkir</th>
                            <th>Status</th>
                            <th>Link</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td colspan="11" style="text-align: center;">Memuat data dari Spreadsheet...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="../JS/script.js"></script>
</body>
</html>